.Item {
  background-color: #c2e7f0;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.Item > div h2 {
  margin: 0;
  font-size: 14px;
  color: #212929;
  margin-bottom: 5px;
}
